<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hao.smarthome">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity android:name=".BackGround" />
        <activity android:name=".About" />
        <activity android:name=".Sign_In" />
        <activity android:name=".Sign_Up" />
        <activity android:name=".Startup" />
        <activity
            android:name=".Home1"
            android:theme="@style/MyMaterialTheme" />
        <activity android:name=".Home2" />
        <activity android:name=".History" />
        <activity
            android:name=".SplashSreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>